.section-10{
    display: flex;
    flex-direction: column;
}
.section-10 .div-1{
    text-align: center;
}
.section-10 .div-1 h3{
    color: #003579A1;
}
.section-10 .div-1 h2{
    color: #003579;
}
.section-10 .div-2{
    display: flex;
    justify-content: space-between;
    align-items: end;
}